:root {
  --animate-duration: 280ms;
}

html,
body,
#root {
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.max_width{
  width: 100%;
}

.max_height{
  height:100%
}

.height_24{
  height:24px
}
.width_12{
  width:12px
}
.width_24{
  width:24px
}
.disappear{
  display: none;
}
.animate__fadeInRightSmall {
  // animation: fadeInRightSmall var(--animate-duration) linear 1;
  animation-name: fadeInRightSmall;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
  // position: relative;
}

@keyframes fadeInRightSmall {
  0% {
    opacity: 0;
    transform: translate3d(60px, 0, 0) // left: 60px;
  }

  to {
    opacity: 1;
    transform: translateZ(0);
    // left: 0;
  }
}


.animate__fadeInUpSmall {
  // animation: fadeInRightSmall var(--animate-duration) linear 1;
  animation-name: fadeInUpSmall;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
  // position: relative;
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0) // left: 60px;
  }

  to {
    opacity: 1;
    transform: translateZ(0);
    // left: 0;
  }
}

.animate__zoomIn {
  animation-name: zoomIn;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
}

@keyframes zoomIn {
  0% {
    width: 300px;
    height: 280px;
  }

  to {
    width: 552px;
    height: 588px;
    // left: 0;
  }
}

.animate__zoomInImg {
  animation-name: zoomInImg;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
}

@keyframes zoomInImg {
  0% {
    bottom: 100px;
  }

  to {
    bottom: 0px;
    // left: 0;
  }
}


.animate__rightImg {
  animation-name: rightImg;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
}

@keyframes rightImg {
  0% {
    left: 0;
    width: 100%;
  }

  to {
    left: 550px;
    width: 600px;
  }
}

.animate__leftImg {
  animation-name: leftImg;
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-fill-mode: both;
}

@keyframes leftImg {
  0% {
    right: 0;
    width: 100%;
  }

  to {
    right: 550px;
    width: 600px;
  }
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
